
<%- include('header',{src:""}); %>
<%- include('search',{type: "list"}); %>

<div class="search_list">
    <ul id="search_list_result">
       
    </ul>
</div>

<%- include('footer',{type: 'list'}); %>